only-built-dependencies[]=@prisma/client
only-built-dependencies[]=@prisma/engines
only-built-dependencies[]=esbuild
only-built-dependencies[]=fastify-socket.io
only-built-dependencies[]=msgpackr-extract
only-built-dependencies[]=prisma
